In [2]:
import pandas as pd

In [18]:
def getTable(dir_name):
  table={}
  table["name"] = []
  table["Bleu_1"] = []
  table["Bleu_2"] = []
  table["Bleu_3"] = []
  table["Bleu_4"] = []
  table["METEOR"] = []
  table["ROUGE_L"] = []
  table["avg_score"] = []
  
  table["evalTime"] = []
  
  with open("{}/scores.txt".format(dir_name)) as f:
    table["name"].append(dir_name)
    line = f.readline()
    score = 0
    while line:
      x = line.strip().split(':')
  #       print(x)
      table[x[0]].append(float(x[1]))
      score += float(x[1])
      line = f.readline()
    print(score/6)
    table["avg_score"].append(score/6)
  with open("{}/evalTime.txt".format(dir_name)) as f:
    table["evalTime"].append(round(float(f.readline()),8))

    return pd.DataFrame(table)

# distill

# betterBlue

In [26]:
getTable("../betterBlue/dis_half_data/epoch-4/").columns

0.09597166666666666

Index(['name', 'Bleu_1', 'Bleu_2', 'Bleu_3', 'Bleu_4', 'METEOR', 'ROUGE_L',
       'avg_score', 'evalTime'],
      dtype='object')

In [25]:
getTable("../betterBlue/distillThree/epoch-4/")

0.13758166666666669

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,../betterBlue/distillThree/epoch-4/,0.23194,0.13996,0.08781,0.05524,0.10456,0.20598,0.137582,3716.829564

# betterBlue2

In [28]:
getTable("../betterBlue2/Three_train/epoch-4/")

0.19173166666666666

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,../betterBlue2/Three_train/epoch-4/,0.28081,0.19397,0.14443,0.11019,0.13234,0.28865,0.191732,1855.50649

In [30]:
getTable("../betterBlue2/Three_distill_train/epoch-4/")

0.19832833333333336

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,../betterBlue2/Three_distill_train/epoch-4/,0.29279,0.20236,0.15097,0.11538,0.13644,0.29203,0.198328,1950.403002

In [32]:
getTable("../betterBlue2/SixLayer_distill/epoch-4/")

0.24967833333333336

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,../betterBlue2/SixLayer_distill/epoch-4/,0.35402,0.26611,0.20723,0.16528,0.17756,0.32787,0.249678,6402.046689

In [31]:
getTable("../betterBlue2/SixLayer_distill2/epoch-4/")

0.25038

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,../betterBlue2/SixLayer_distill2/epoch-4/,0.35658,0.26721,0.20791,0.16579,0.17803,0.32676,0.25038,6456.259298

In [33]:
getTable("../betterBlue2/SixLayer_distill3/epoch-4/")

0.24691333333333332

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,../betterBlue2/SixLayer_distill3/epoch-4/,0.35119,0.26299,0.20425,0.16255,0.17598,0.32452,0.246913,17334.96256

In [34]:
getTable("../betterBlue2/SixLayer_distill2_train/epoch-4/")

0.26513166666666665

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,../betterBlue2/SixLayer_distill2_train/epoch-4/,0.3704,0.28302,0.22465,0.18324,0.18627,0.34321,0.265132,6709.302197

In [35]:
getTable("../betterBlue2/SixLayer_distill2_train2/epoch-4/")

0.32660333333333336

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,../betterBlue2/SixLayer_distill2_train2/epoch-4/,0.44096,0.34903,0.28844,0.24356,0.21926,0.41837,0.326603,3311.453704

In [37]:
getTable("../betterBlue2/SixLayer_distill2_train3/epoch-4/")

0.33330166666666666

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,../betterBlue2/SixLayer_distill2_train3/epoch-4/,0.45214,0.35846,0.29675,0.25088,0.2233,0.41828,0.333302,3419.028776

In [36]:
getTable("../betterBlue2/Six_train/epoch-4/")

0.3195666666666667

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,../betterBlue2/Six_train/epoch-4/,0.43459,0.34205,0.28154,0.23692,0.21427,0.40803,0.319567,6193.024373

In [22]:
getTable("../betterBlue2/QG_distill/epoch-4/")

0.3401666666666667

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,../betterBlue2/QG_distill/epoch-4/,0.45452,0.3645,0.30423,0.25919,0.22782,0.43074,0.340167,3313.010153

In [23]:
getTable("../betterBlue2/QG_model/")

0.36675833333333335

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,../betterBlue2/QG_model/,0.48689,0.39655,0.33515,0.2883,0.24388,0.44978,0.366758,5993.456949

In [63]:
getTable("../betterBlue2/BadTeacher/epoch-4")

0.284915

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,../betterBlue2/BadTeacher/epoch-4,0.39194,0.30504,0.24599,0.20377,0.19905,0.3637,0.284915,5754.486864

In [47]:
getTable("../distill/HalfModel_a1/epoch-4")

0.3215516666666666

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,../distill/HalfModel_a1/epoch-4,0.43514,0.34301,0.28231,0.23698,0.21644,0.41543,0.321552,18616.913703

# final

In [19]:
getTable("distilbert_DCRD/epoch-4/")

0.31970499999999996

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,distilbert_DCRD/epoch-4/,0.43335,0.34165,0.28224,0.23834,0.21427,0.40838,0.319705,16927.706819

In [57]:
getTable("distilbert_DCRD2/epoch-4/")

0.31350833333333333

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,distilbert_DCRD2/epoch-4/,0.42691,0.33503,0.27497,0.23101,0.21051,0.40262,0.313508,5603.719657

In [20]:
getTable("distil_data_rate05-t1/epoch-4/")

0.30237833333333336

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,distil_data_rate05-t1/epoch-4/,0.42092,0.32386,0.25962,0.21229,0.20483,0.39275,0.302378,15423.524577

In [45]:
getTable("train_data_rate05-t2/epoch-4/")

0.29333833333333337

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,train_data_rate05-t2/epoch-4/,0.39754,0.31379,0.25664,0.21548,0.203,0.37358,0.293338,15170.068724

In [43]:
getTable("distil_data_rate1-t3-1/epoch-4/")

0.3135016666666667

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,distil_data_rate1-t3-1/epoch-4/,0.43052,0.33699,0.27731,0.23345,0.20913,0.39361,0.313502,3690.237258

In [44]:
getTable("train_data_rate1-t3-2/epoch-4/")

0.345875

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,train_data_rate1-t3-2/epoch-4/,0.46386,0.37246,0.31095,0.26493,0.23149,0.43156,0.345875,6830.721479

In [55]:
getTable("Six_drop03_train/epoch-4/")

0.2967883333333334

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,Six_drop03_train/epoch-4/,0.40658,0.31659,0.25962,0.21811,0.19806,0.38177,0.296788,3852.920137

In [56]:
getTable("Six_drop03_train2/epoch-4/")

0.3097233333333333

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,Six_drop03_train2/epoch-4/,0.42054,0.33048,0.27262,0.23016,0.20695,0.39759,0.309723,14960.488763

In [67]:
getTable("Six_drop03_train3/epoch-4/")

0.310665

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,Six_drop03_train3/epoch-4/,0.4252,0.33246,0.27306,0.22965,0.20831,0.39531,0.310665,3503.262422

In [62]:
getTable("QG_model_six_all_distil/epoch-4/")

0.33926999999999996

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,QG_model_six_all_distil/epoch-4/,0.45707,0.36442,0.30265,0.2566,0.22748,0.4274,0.33927,3438.479683

In [60]:
getTable("QG_model_six_all_distil_train/epoch-4/")

0.32855833333333334

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,QG_model_six_all_distil_train/epoch-4/,0.44468,0.35155,0.29006,0.2445,0.22075,0.41981,0.328558,3388.373242

In [65]:
getTable("distil_data_rate05_drop01-t1-2/epoch-4/")

0.26118833333333336

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,distil_data_rate05_drop01-t1-2/epoch-4/,0.36556,0.27886,0.22155,0.18125,0.18283,0.33708,0.261188,14740.165124

In [66]:
getTable("train_data_rate1_drop03-t2-2/epoch-4/")

0.30955

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,train_data_rate1_drop03-t2-2/epoch-4/,0.42241,0.33164,0.27279,0.22954,0.20691,0.39401,0.30955,15188.259496

In [68]:
getTable("distil_data_rate05_drop01-t1-2_train_rate1/epoch-4/")

0.31932166666666667

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,distil_data_rate05_drop01-t1-2_train_rate1/epo...,0.43429,0.34225,0.28188,0.23747,0.21419,0.40585,0.319322,3426.576925

In [69]:
getTable("distil_rate05_drop03_train_rate1_drop01/epoch-4/")

0.3465833333333334

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,distil_rate05_drop03_train_rate1_drop01/epoch-4/,0.46267,0.37143,0.31017,0.26409,0.23212,0.43902,0.346583,3436.737839

In [79]:
getTable("QG_model_six_all_distil_rate1_drop03/epoch-4/")

0.30600166666666667

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,QG_model_six_all_distil_rate1_drop03/epoch-4/,0.41829,0.32728,0.26892,0.22641,0.2042,0.39091,0.306002,15244.486665

# compare

In [48]:
getTable("../BERT_QG_DRCD/SQG_DRCD/epoch-4/") #我自己用全部資料train十二層的

0.347

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,../BERT_QG_DRCD/SQG_DRCD/epoch-4/,0.46383,0.37241,0.31131,0.26536,0.23203,0.43706,0.347,0.0

In [50]:
getTable("../betterBlue2/QG_model/") #學長的

0.36675833333333335

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,../betterBlue2/QG_model/,0.48689,0.39655,0.33515,0.2883,0.24388,0.44978,0.366758,5993.456949

In [59]:
getTable("train_data_rate1-t2/epoch-4/") #目前最高

0.35266000000000003

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,train_data_rate1-t2/epoch-4/,0.47053,0.37928,0.31813,0.27206,0.23517,0.44079,0.35266,3518.408209

In [71]:
getTable("train_data_rate1-t2/epoch-1/")

0.3156933333333333

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,train_data_rate1-t2/epoch-1/,0.4292,0.33751,0.27815,0.23449,0.21092,0.40389,0.315693,10234.942755

In [72]:
getTable("train_data_rate1-t2/epoch-2/")

0.33247999999999994

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,train_data_rate1-t2/epoch-2/,0.4467,0.35634,0.29659,0.25204,0.22196,0.42125,0.33248,10288.567754

In [75]:
getTable("train_data_rate1-t2/epoch-3/")

0.3392633333333333

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,train_data_rate1-t2/epoch-3/,0.452,0.36238,0.30334,0.25921,0.22629,0.43236,0.339263,10169.003558

In [80]:
getTable("QG_model_six_all_distil_rate1_drop03_train/epoch-4/")

0.31433833333333333

,name,Bleu_1,Bleu_2,Bleu_3,Bleu_4,METEOR,ROUGE_L,avg_score,evalTime
0,QG_model_six_all_distil_rate1_drop03_train/epo...,0.42841,0.3366,0.27694,0.23326,0.21015,0.40067,0.314338,3404.920015

In [1]:
!ls

QG_model
QG_model_six
QG_model_six_all_distil
QG_model_six_all_distil_rate1_drop03
QG_model_six_all_distil_rate1_drop03_train
QG_model_six_all_distil_train
SQG_prediction.py
SQG_train.py
Six_drop03
Six_drop03_train
Six_drop03_train2
Six_drop03_train3
cmd.ipynb
cmd.txt
distil.py
distil_data_rate05-1
distil_data_rate05_drop01-t1-2
distil_data_rate05_drop01-t1-2_train_rate1
distil_data_rate05_drop03-t1
distil_data_rate1-t3
distil_rate05_drop03_train_rate1_drop01
distilbert_DCRD
distilbert_DCRD2
eval.ipynb
eval_flops.ipynb
pre.out
qg.out
rate1.out
testing_data.json
train_data_rate05-t2
train_data_rate1-t2
train_data_rate1-t3-2
train_data_rate1_drop03-t2-2
training_data.json
training_data.json_cached
training_data.jsoncached
wandb

In [2]:
!echo "# BERT_DCRD" >> README.md
!git init
!git add README.md
!git commit -m "first commit"
!git branch -M main
!git remote add origin https://github.com/pupumeme/BERT_DCRD.git
!git push -u origin main

Initialized empty Git repository in /user_data/final/.git/
[master (root-commit) 74ba3a9] first commit
 1 file changed, 1 insertion(+)
 create mode 100644 README.md
Username for 'https://github.com': ^C